# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\__Code\To-Do_Application_SpringBoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
